<article class="container">
  <div class="row"> 
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><h2>About The Company</h2>
       <p> As a Flower Shop florist, we can arrange delivery across North America &amp; around the world.  Established as Milton's floral destination where quality &amp; artistry is an on-going commitment to each and every customer. 
        </p>
        <p>We are extremely proud to be a third generation family business serving Toronto &amp; area since 2010.  We invite you to browse our  website &amp; hope you have the opportunity to visit our beautiful store.
        </p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><h2>Substitution Policy</h2>
        <p>Care and attention is given to your order to enure that it is as requested. Occasionally, substitutions may be necessary to create your bouquet due to the availability of certain flowers. Care is taken to maintain the style, theme and color scheme of the arrangement, using flowers of equal value. For green/blooming plants;similar type may be substituted of equal value. Additionally, the substitution of containers/dishes/keepsake items may be necessary-similar style may be used.</p>
    </div>
  </div>
  <div class="row">  
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span><h2>Store Hours</h2>
        <p>Monday - Saturday: 9:00am - 6:00pm</p>
        <p>To help assure on-time delivery during the busy holiday season, place your order at least 1 day prior to the following major holidays: Thanksgiving Day, Christmas Day, New Year's Day, Valentine's Day, Easter, Administrative Professionals Week, Mother's Day, Memorial Day, Father's Day, Independence Day and Labor Day.</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><h2>Areas Served</h2>
       <p>Our shop serves the following areas in Ontario: Acton, Burlington, Campbellville, Carlisle, Georgetown, Kilbride, Mississauga, Moffat, Oakville and Milton.</p>
    </div>
  </div> 
  <div class="row">
    <div class = "col-md-12 col-sm-12 col-xs-12 about">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><h2>Delivery Policy</h2>
       <p>A local delivery fee of 8.00 will be added to each order, for each address. (For deliveries outside our local delivery area, this fee may vary.)

        Orders must be received before 3:00 p.m. in the recipient's time zone to assure same-day delivery. Orders received after that time may be delivered the following day.

        We will do our best to accommodate deliveries at specific times of day, but we cannot guarantee it.

        We reeserve the right to call before delivery to ensure safe arrival of product.

        We are unable to make deliveries on Sundays. Deliveries requested on this day will be delivered the following business day. (some exceptions on holidays;ie. Christmas, Easter, Valentine's,...)

        Delivery of orders to cemeteries cannot be guaranteed.

        We will be happy to accept your international orders if you call our shop directly. We are unable to accept international orders over the Internet.</p>
    </div>
  </div>
</article>
